.hug-component {
    width: 360px;
    position: absolute;
    top: 2100px;
    right: 0px;
}

.movement-svg,
#body_mov,
#white_mov,
#hair_mov,
#head_mov,
#neck_mov,
#feetone_mov,
#feettwo_mov,
#hand_mov {
    transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear; 
}

.hug-component:hover .movement-svg {
    transform: translate(-20px, 0px);
}


.hug-component:hover #body_mov {
    transform: translate(17.3px, -2.85px);
}

.hug-component:hover #white_mov {
    transform: translate(17.27px, -2.409px);
}

.hug-component:hover #hair_mov {
    transform: translate(16.775px);
}


.hug-component:hover #head_mov {
    transform: translate(-733.168px, -304.17px);
}

.hug-component:hover #neck_mov {
    transform: translate(25.348px, 30.379px);
}

.hug-component:hover #feetone_mov {
    transform: translate(18px, -13.354px);
}

.hug-component:hover #feettwo_mov {
    transform: translate(16.327px, -13.354px);
}

.hug-component:hover #hand_mov {
    transform: translate(-1.549px, -5.571px);
}

@media (max-width: 1000px) {
    .hug-component {
        top: 3250px;
    }
}

@media (max-width: 700px) {
    .hug-component {
        width: 280px;
        top: 3220px;
    }
}

@media (max-width: 600px) {
    .hug-component {
        width: 240px;
    }
}

@media (max-width: 500px) {
    .hug-component {
        top: 2780px;
    }
}

@media (max-width: 370px) {
    .hug-component {
        width: 200px;
        top: 2790px;
    }
}

@media (max-width: 340px) {
.hug-component {
    width: 180px;
    top: 2760px;
    }
}